# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Add comments to code cells
* Create markdown cells
* Add ordered and unordered lists to markdown cells
* Format content marckdown cells with heading styles

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript
9. Php
10. Go
11. Ruby
12. Visual Basic

### Some of the commonly used libraries  that Data Scientists use are:

* Pandas
* Numpy
* Matplotlib
* Seaborn
* Scikit-learn

| Data Science Tools |
|--------------------|
| Anaconda |
| jupyter Notebooks |
| R Studio |
| Spyder |
| Zepplin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ricardo Freitas